NEXT_PUBLIC_APP_URL='http://localhost:3000'

UPLOADTHING_SECRET='sk_live_abcde12345'
UPLOADTHING_APP_ID='abcde12345'

DATABASE_URL='mysql://username:password@host/database?ssl={"rejectUnauthorized":true}'
REDIS_URL='rediss://default:password@username.upstash.io:port'

UPSTASH_REDIS_REST_URL='https://username.upstash.io'
UPSTASH_REDIS_REST_TOKEN='abcde12345='

NEXT_PUBLIC_SUPABASE_URL='https://abcde12345.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='abcde12345'

API_SECRET='abcde12345'
NODE_ENV='development | production | test'