@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgb(32, 36, 39);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(21, 77, 77);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(23, 98, 119);
}