@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: hsl(0, 0%, 100%);
        --background: hsl(0, 0%, 6%);
        --code: hsl(220, 13%, 18%);
        --accent: hsl(212, 85%, 82%);
        --border: hsl(213, 10%, 17%);
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-gradient-to-b from-black to-background text-foreground;
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}